.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;

  @media (max-width: 768px) {
    display: none;
  }
}

.nav__item {
  display: flex;
  position: relative;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $textColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $textHoverColor;
  }
}

.nav__link--current {
  color: $textHoverColor;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    content: " ";
    background-color: $textHoverColor;
    width: 100%;
    height: 3px;
    margin-top: 28px;
  }
}

.contacts {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: unset;
    justify-content: unset;
    align-items: center;
    gap: 40px;
  }
}

.contacts__item {
  // margin-right: 30px;

  &:first-child {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      margin-bottom: unset;
    }
  }
}

.contacts__mail {
  text-decoration: none;
  align-items: center;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: $primaryTextColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $textHoverColor;
  }
}

.contacts__tel {
  text-decoration: none;
  align-items: center;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: $primaryTextColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $textHoverColor;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 8px;
}
