.client {
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $textColor;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .client__list {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .client__list {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }
}

.client__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: flex;
  align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $textHoverColor;
    fill: $textHoverColor;
  }
}
